:root {
  --bgWidth: 10000px;
}

body {
  background: linear-gradient(to left, #09182E 0%, #09182E 19%, #091f3f 40%, #051d41 60%, #09182E 83%, #09182E 100%);
  background-size: var(--bgWidth) 100%;
  animation: bg 3s linear infinite;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  
  100% {
    background-position-x: var(--bgWidth);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TECHNO';
  src: url('../public/Fonts/militech_o_2019-04-13.otf') format('opentype');
}

@font-face {
  font-family: 'TECHNO-R';
  src: url('../public/Fonts/militech_r_2019-04-13.otf') format('opentype');
}

@font-face {
  font-family: 'TEKTUR';
  src: url('../public/Fonts/TekTur.ttf') format('opentype');
}
